{% extends 'base_instrutor.html' %}

{% block titulo %}Consulta{% endblock %}

{% block conteudo %}
<!-- Barra de pesquisa -->
<div class="barra-pesquisa">
    <input class="campo-pesquisa" type="text" placeholder="Digite o nome do professor ou aluno">
    <img class="botao-pesquisa" src="../static/img/lupa-m.png" alt="consultar">
</div>
<!-- Conteúdo principal -->
<main>
    <!-- Lista de alunos -->
    <div class="box-primaria">
        <h1>LISTA DE ALUNOS</h1>
        <div class="conteudo-box-primaria">
            <div class="lista-alunos">
                <a href="/dados_usuario" class="box-aluno">
                    <img class="foto-perfil-p" src="../static/img/perfil.png" alt="perfil">
                    Aluno 01
                </a>
                <a href="/dados_usuario" class="box-aluno">
                    <img class="foto-perfil-p" src="../static/img/perfil.png" alt="perfil">
                    Aluno 02
                </a>
                <a href="/dados_usuario" class="box-aluno">
                    <img class="foto-perfil-p" src="../static/img/perfil.png" alt="perfil">
                    Aluno 03
                </a>
                <a href="/dados_usuario" class="box-aluno">
                    <img class="foto-perfil-p" src="../static/img/perfil.png" alt="perfil">
                    Aluno 04
                </a>
            </div>
            <div class="espaco-botao">
                <button class="botao-secundario" class="botao" type="button" onclick='history.go(-1)'>Voltar</button>
                <button class="botao-terciario" class="botao" type="button">Próxima página</button>
            </div>
        </div>
    </div>
</main>

</div>

<!-- Modal Informações do Usuário -->
<dialog class="modal" id="modal-usuario">
    <i class="fi fi-rr-cross icone-fechar-modal" onclick="closeModal('#modal-usuario')"></i>
    <h2 class="titulo-modal" id="titulo-modal-usuario">Login</h2>
    <p id="nome-usuario-modal-usuario">Nome do usuário</p>
    <button class="botao-secundario" id="botao-sair-modal-usuario">Sair</button>
    <a href="meus_dados_instrutor.html"><button class="botao-terciario" id="botao-editar-perfil-modal-usuario">Editar
            perfil</button></a>
</dialog>

<!-- Modal Informações Contato -->
<dialog class="modal" id="modal-contato">
    <i class="fi fi-rr-cross icone-fechar-modal" onclick="closeModal('#modal-contato')"></i>
    <h2 class="titulo-modal" id="titulo-modal-contato">Contato</h2>
    <p>(00)00000-0000</p>
    <p>(00)00000-0000</p>
    <a href="#" id="link-instagram-modal-contato"><img src="../static/img/instagram.png">@gymguide</a>
</dialog>

<!-- Modal Sobre -->
<dialog class="modal" id="modal-sobre">
    <i class="fi fi-rr-cross icone-fechar-modal" onclick="closeModal('#modal-sobre')"></i>
    <h2 class="titulo-modal" id="titulo-modal-contato">Sobre</h2>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sequi quae sint exercitationem sit voluptates
        pariatur ab a, soluta dolorem ducimus beatae, quos voluptatibus numquam. Repellat officiis asperiores optio
        nisi ullam.</p>
    <h3>CNPJ</h3>
    <p>000.000.000/0001-00</p>
    <p>Uicons do <a href="https://www.flaticon.com/uicons">Flaticon</a></p>
    <p>&copy;Equipe Gym Guide</p>
</dialog>
{% endblock %}