<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="../static/js/script.js"></script>
</head>

<body>
    <!-- Cabeçalho do site -->
    <header class="header">
        <img class="logo" src="../static/img/logo.png" alt="Logo">
    </header>
    <!-- Conteúdo do site -->
    <div id="conteudo">

        <!-- Formulário de login -->
        <div class="box-formulario-login">
            <h1>LOGIN</h1>
            <form class="formulario-login" action="" method="POST">
                <label for="email">Email</label>
                <input class="input-login" type="email" id="email">

                <label for="senha">Senha</label>
                <input class="input-login" type="password" id="senha">

                <input class="input-login-button" type="submit" value="Entrar">
            </form>
        </div>
        
    </div>
</body>

</html>